<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IssueTrackingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayAreaAndRole</display-name>
    <servlet-name>DisplayAreaAndRole</servlet-name>
    <servlet-class>com.issuetracker.servlet.DisplayAreaAndRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAreaAndRole</servlet-name>
    <url-pattern>/DisplayAreaAndRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueRegistration</display-name>
    <servlet-name>IssueRegistration</servlet-name>
    <servlet-class>com.issuetracker.servlet.IssueRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueRegistration</servlet-name>
    <url-pattern>/IssueRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequest</display-name>
    <servlet-name>PendingRequest</servlet-name>
    <servlet-class>com.issuetracker.servlet.PendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequest</servlet-name>
    <url-pattern>/PendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingUserRequest</display-name>
    <servlet-name>GetPendingUserRequest</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetPendingUserRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingUserRequest</servlet-name>
    <url-pattern>/GetPendingUserRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptUserDetails</display-name>
    <servlet-name>AcceptUserDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.AcceptUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptUserDetails</servlet-name>
    <url-pattern>/AcceptUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectUserDetails</display-name>
    <servlet-name>RejectUserDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.RejectUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectUserDetails</servlet-name>
    <url-pattern>/RejectUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateEmail</display-name>
    <servlet-name>ValidateEmail</servlet-name>
    <servlet-class>com.issuetracker.servlet.ValidateEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateEmail</servlet-name>
    <url-pattern>/ValidateEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActiveUsers</display-name>
    <servlet-name>GetActiveUsers</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetActiveUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActiveUsers</servlet-name>
    <url-pattern>/GetActiveUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.issuetracker.servlet.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.issuetracker.servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>