<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IssueTrackingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayAreaAndRole</display-name>
    <servlet-name>DisplayAreaAndRole</servlet-name>
    <servlet-class>com.issuetracker.servlet.DisplayAreaAndRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAreaAndRole</servlet-name>
    <url-pattern>/DisplayAreaAndRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueRegistration</display-name>
    <servlet-name>IssueRegistration</servlet-name>
    <servlet-class>com.issuetracker.servlet.IssueRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueRegistration</servlet-name>
    <url-pattern>/IssueRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingRequest</display-name>
    <servlet-name>PendingRequest</servlet-name>
    <servlet-class>com.issuetracker.servlet.PendingRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequest</servlet-name>
    <url-pattern>/PendingRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingUserRequest</display-name>
    <servlet-name>GetPendingUserRequest</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetPendingUserRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingUserRequest</servlet-name>
    <url-pattern>/GetPendingUserRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptUserDetails</display-name>
    <servlet-name>AcceptUserDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.AcceptUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptUserDetails</servlet-name>
    <url-pattern>/AcceptUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectUserDetails</display-name>
    <servlet-name>RejectUserDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.RejectUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectUserDetails</servlet-name>
    <url-pattern>/RejectUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateEmail</display-name>
    <servlet-name>ValidateEmail</servlet-name>
    <servlet-class>com.issuetracker.servlet.ValidateEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateEmail</servlet-name>
    <url-pattern>/ValidateEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActiveUsers</display-name>
    <servlet-name>GetActiveUsers</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetActiveUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActiveUsers</servlet-name>
    <url-pattern>/GetActiveUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.issuetracker.servlet.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.issuetracker.servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.issuetracker.servlet.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateOTP</display-name>
    <servlet-name>ValidateOTP</servlet-name>
    <servlet-class>com.issuetracker.servlet.ValidateOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOTP</servlet-name>
    <url-pattern>/ValidateOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.issuetracker.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistEmailCheck</display-name>
    <servlet-name>ExistEmailCheck</servlet-name>
    <servlet-class>com.issuetracker.servlet.ExistEmailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistEmailCheck</servlet-name>
    <url-pattern>/ExistEmailCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.issuetracker.servlet.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OTPVerificationForRegister</display-name>
    <servlet-name>OTPVerificationForRegister</servlet-name>
    <servlet-class>com.issuetracker.servlet.OTPVerificationForRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPVerificationForRegister</servlet-name>
    <url-pattern>/OTPVerificationForRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationDataBase</display-name>
    <servlet-name>UserRegistrationDataBase</servlet-name>
    <servlet-class>com.issuetracker.servlet.UserRegistrationDataBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationDataBase</servlet-name>
    <url-pattern>/UserRegistrationDataBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.issuetracker.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.issuetracker.servlet.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.issuetracker.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckExistingPassword</display-name>
    <servlet-name>CheckExistingPassword</servlet-name>
    <servlet-class>com.issuetracker.servlet.CheckExistingPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExistingPassword</servlet-name>
    <url-pattern>/CheckExistingPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtp</display-name>
    <servlet-name>VerifyOtp</servlet-name>
    <servlet-class>com.issuetracker.servlet.VerifyOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtp</servlet-name>
    <url-pattern>/VerifyOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordOtpVerify</display-name>
    <servlet-name>PasswordOtpVerify</servlet-name>
    <servlet-class>com.issuetracker.servlet.PasswordOtpVerify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordOtpVerify</servlet-name>
    <url-pattern>/PasswordOtpVerify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>com.issuetracker.servlet.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjectDetails</display-name>
    <servlet-name>GetProjectDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjectDetails</servlet-name>
    <url-pattern>/GetProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectAllocate</display-name>
    <servlet-name>ProjectAllocate</servlet-name>
    <servlet-class>com.issuetracker.servlet.ProjectAllocate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectAllocate</servlet-name>
    <url-pattern>/ProjectAllocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjectList</display-name>
    <servlet-name>GetProjectList</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjectList</servlet-name>
    <url-pattern>/GetProjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPDF</display-name>
    <servlet-name>DownloadPDF</servlet-name>
    <servlet-class>com.issuetracker.servlet.DownloadPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPDF</servlet-name>
    <url-pattern>/DownloadPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProjectDetails</display-name>
    <servlet-name>EditProjectDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.EditProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProjectDetails</servlet-name>
    <url-pattern>/EditProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProjectDetails</display-name>
    <servlet-name>UpdateProjectDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.UpdateProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectDetails</servlet-name>
    <url-pattern>/UpdateProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProjectDetails</display-name>
    <servlet-name>RemoveProjectDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.RemoveProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProjectDetails</servlet-name>
    <url-pattern>/RemoveProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PmProjectLists</display-name>
    <servlet-name>PmProjectLists</servlet-name>
    <servlet-class>com.issuetracker.servlet.PmProjectLists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmProjectLists</servlet-name>
    <url-pattern>/PmProjectLists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPasswordCheck</display-name>
    <servlet-name>EditPasswordCheck</servlet-name>
    <servlet-class>com.issuetracker.servlet.EditPasswordCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPasswordCheck</servlet-name>
    <url-pattern>/EditPasswordCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordLinkCheck</display-name>
    <servlet-name>PasswordLinkCheck</servlet-name>
    <servlet-class>com.issuetracker.servlet.PasswordLinkCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordLinkCheck</servlet-name>
    <url-pattern>/PasswordLinkCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetActiveProjectList</display-name>
    <servlet-name>GetActiveProjectList</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetActiveProjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActiveProjectList</servlet-name>
    <url-pattern>/GetActiveProjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateModule</display-name>
    <servlet-name>CreateModule</servlet-name>
    <servlet-class>com.issuetracker.servlet.CreateModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateModule</servlet-name>
    <url-pattern>/CreateModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleAllocate</display-name>
    <servlet-name>ModuleAllocate</servlet-name>
    <servlet-class>com.issuetracker.servlet.ModuleAllocate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleAllocate</servlet-name>
    <url-pattern>/ModuleAllocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateModules</display-name>
    <servlet-name>AllocateModules</servlet-name>
    <servlet-class>com.issuetracker.servlet.AllocateModules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateModules</servlet-name>
    <url-pattern>/AllocateModules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveModuleDetails</display-name>
    <servlet-name>SaveModuleDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.SaveModuleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveModuleDetails</servlet-name>
    <url-pattern>/SaveModuleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDevelopersDetails</display-name>
    <servlet-name>GetDevelopersDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetDevelopersDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDevelopersDetails</servlet-name>
    <url-pattern>/GetDevelopersDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTestersDetails</display-name>
    <servlet-name>GetTestersDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetTestersDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTestersDetails</servlet-name>
    <url-pattern>/GetTestersDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProjects</display-name>
    <servlet-name>GetProjects</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProjects</servlet-name>
    <url-pattern>/GetProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetModuleDetails</display-name>
    <servlet-name>GetModuleDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetModuleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetModuleDetails</servlet-name>
    <url-pattern>/GetModuleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteModuleDetails</display-name>
    <servlet-name>DeleteModuleDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.DeleteModuleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteModuleDetails</servlet-name>
    <url-pattern>/DeleteModuleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditModuleDetails</display-name>
    <servlet-name>EditModuleDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.EditModuleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditModuleDetails</servlet-name>
    <url-pattern>/EditModuleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModuleDetails</display-name>
    <servlet-name>UpdateModuleDetails</servlet-name>
    <servlet-class>com.issuetracker.servlet.UpdateModuleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModuleDetails</servlet-name>
    <url-pattern>/UpdateModuleDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProject</display-name>
    <servlet-name>GetAllProject</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetAllProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProject</servlet-name>
    <url-pattern>/GetAllProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllModules</display-name>
    <servlet-name>GetAllModules</servlet-name>
    <servlet-class>com.issuetracker.servlet.GetAllModules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllModules</servlet-name>
    <url-pattern>/GetAllModules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeveloperModules</display-name>
    <servlet-name>DeveloperModules</servlet-name>
    <servlet-class>com.issuetracker.servlet.DeveloperModules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeveloperModules</servlet-name>
    <url-pattern>/DeveloperModules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeModuleStatusDeveloper</display-name>
    <servlet-name>ChangeModuleStatusDeveloper</servlet-name>
    <servlet-class>com.issuetracker.servlet.ChangeModuleStatusDeveloper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeModuleStatusDeveloper</servlet-name>
    <url-pattern>/ChangeModuleStatusDeveloper</url-pattern>
  </servlet-mapping>
</web-app>